<tr>
  <td width="30%">&nbsp;</td>
  <td width="15%" align="left">Text&nbsp;</td>
  <td width="1%"> : </td>
  <td width="40%" align="left"><%= f.text_area :text, :rows => 10, :cols => 30, :class =>'input' %></td>
  <td width="14%">&nbsp;</td>
</tr>
