<%= form_for @curator, :url => venue_manager_curator_path(@curator), :html => { :class => 'popup popup-small' } do |f|%>
	<%= link_to_function '', 'parent.$.fn.colorbox.close()', :class => 'close-btn' %>
    <header>
	    <hgroup class="left">
	        <h1>Edit curator</h1>
	        <h2>(required fields in orange)</h2>
	    </hgroup>
	    
		<%= render :partial => 'form', :locals => { :f => f } %>

	</section>
	<footer>
	    <button class="save">save</button>
	    <%= link_to 'delete', venue_manager_curator_path(@curator), :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this curator?"%>
	    <button class="cancel" onclick="parent.$.fn.colorbox.close();return false;">cancel</button>
	</footer>
<% end %>