<nav>
    <ul>
        <li>
            <a href="">exhibitions</a>
            <div>
                <ul>
                    <li><a href="">United States United States</a></li>
                    <li><a href="">United States</a></li>
                    <li>
                        <a href="">United States</a>
                        <ul>
                            <li><a href="">New York United States</a></li>
                            <li>
                                <a href="">New York</a>
                                <ul>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                </ul>
                            </li>
                            <li><a href="">New York</a></li>
                            <li><a href="">New York</a></li>
                            <li><a href="">New York</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">United States</a>
                        <ul>
                            <li>
                                <a href="">Los Angeles</a>
                                <ul>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                </ul>
                            </li>
                            <li><a href="">Los Angeles</a></li>
                            <li><a href="">Los Angeles</a></li>
                            <li><a href="">Los Angeles</a></li>
                            <li><a href="">Los Angeles</a></li>
                        </ul>
                    </li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="">events</a>
            <div>
                <ul>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li>
                        <a href="">United States</a>
                        <ul>
                            <li><a href="">New York</a></li>
                            <li>
                                <a href="">New York</a>
                                <ul>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                    <li><a href="">Chelsea</a></li>
                                </ul>
                            </li>
                            <li><a href="">New York</a></li>
                            <li><a href="">New York</a></li>
                            <li><a href="">New York</a></li>
                        </ul>
                    </li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                    <li><a href="">United States</a></li>
                </ul>
            </div>
        </li>
        <!-- <li><a href="">fair</a></li> -->
    </ul>
</nav>