<%= form_for @exhibition, :url => venue_manager_exhibitions_path, :html => { :class => 'popup' } do |f|%>
	<%= link_to_function '', 'parent.$.fn.colorbox.close()', :class => 'close-btn' %>
    <header>
	    <hgroup class="left">
	        <h1>New exhibition</h1>
	        <h2>(required fields in orange)</h2>
	    </hgroup>
	    
		<%= render :partial => 'form', :locals => { :f => f } %>

	</section>
	<footer>
	    <button class="save">save+preview</button>
	    <button class="draft" onclick="$('#save_as_draft').val(1);">save draft</button>
	    <button class="cancel" onclick="parent.$.fn.colorbox.close();return false;">cancel</button>
	</footer>
<% end %>